
p {
  padding-left: 30px;
  padding-right: 30px;
}

p.centered {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

h1 { 
  font-family: "La Belle Aurore"; 
  font-size: 82px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 200px; 
  color:rgb(255, 207, 185);
  text-shadow: 4px 4px 12px #000000;
} 

h2 { 
  font-family: "La Belle Aurore"; 
  font-size: 48px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 48px; 
  text-align: center;
  padding-top: 20px;
}

h3 { 
  font-family: "Helvetica"; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 48px; 
  text-align: center;
  padding-top: 15px;
  color:rgb(69, 124, 117);
}

.nav-item {
  color:black;
}

/* Centered text */
.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 48px;
}

.navbar {
  height:60px;
  background-color: rgba(0, 0, 0, 0.7);
  list-style-type: none;
  text-align: center;
  scroll-margin-top: 5rem;
}

.nav ul {
  display: inline-block;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 10px;

}

.parallax-window {
  min-height: 800px;
  background: transparent;
  background-size: cover;
}

a.nav-link {
  color:rgb(255, 139, 110);
  text-decoration: none;
}

a.jumplink {
  /* padding-top: 70px;
  margin-top: -70px; */
  text-decoration: none;
  color: black;
  scroll-margin-top: 70px;
  
}

  img {
    margin: 15px;
    max-width: 95%;
  }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      
    }
    .imginline {
      height: auto;
      display: flex;
      justify-content: space-around;

    }

  @media (max-width: 850px) { 
    img {
      margin: 10px;
      max-width: 95%;
      
    }
      .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        
      }
    }