main {
  padding: 3%;
  background-color:rgb(153,165,161,1);
  justify-content: center;
  
}

.translucent {
  background-color: rgb(255, 255, 255, .5);
  position: absolute;
  top: 355px;
  left: 0px;
  right: 0px;
}

.container {
  padding: 2%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  /* backdrop-filter: blur(5px); */
  border-radius: 25px;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

p {
  padding-left: 2%;
  padding-right: 2%;
}

ul {
  margin-left: 3%;
  margin-right: 3%;
}

p.centered {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "La Belle Aurore";
  font-size: 72px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  color: #080808
}

h2 {
  font-family: "La Belle Aurore";
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  padding-top: 20px;
  color: #273b22;
}

h3 {
  font-family: "Helvetica";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 42px;
  /* text-align: center; */
  padding-top: 15px;
  color: rgb(69, 124, 117);
  padding-left: 2%;
}

.nav-item {
  color: black;
}
/* 
Centered text
.centered {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* Top left text
.top-left {
  position: absolute;
  top: 8px;
  left: 48px;
} */

.navbar {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  list-style-type: none;
  text-align: center;
  scroll-margin-top: 5rem;
}

.nav ul {
  display: inline-block;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 10px;
}

.parallax-window {
  min-height: 500px;
  background: transparent;
  background-size: cover;
}

a.nav-link {
  color: rgb(255, 139, 110);
  text-decoration: none;
}

a.jumplink {
  /* padding-top: 70px;
  margin-top: -70px; */
  text-decoration: none;
  color: black;
  scroll-margin-top: 70px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
}

.imginline {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  max-height: 80%;
}
.card {
  display: inline-block;
  max-width: 85%;
  width: auto;
  border: none;
  margin-left: 2%;
  vertical-align: top;
}

.card-wide {
  display: inline-block;
  max-height: 50%;
  width: auto;
  vertical-align: top;
}

.card-img {
  max-height: 500px;
  width: auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 22pt;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
  }
}
